
bin/*
!bin/.gitignore

external/*/.venv

# Per-solver build clones (created by each solver's build.sh, removed by clean.sh)
external/dmon/google-research/
external/commdgi/CommDGI/
external/ucode/UCODE/
external/dgcluster/DGCluster/
external/magi/MAGI/
external/magi-sage/MAGI/
external/lim/Less-is-More/
external/hollocou/graph-streaming/
external/hollocou/streamcom
external/clustre/CluStRE/
external/clustre/clustre
external/vieclus/VieClus/
external/vieclus/vieclus

paper/data/.venv 

.vscode/*
.gitignore

VIS
CONVERT
EVAL
CLUSTER
LOUVAIN
FEATURE

features/*
instances*
latex/*
scripts/.venv
scripts/.venv/*
scripts/data/*
__pycache__/
.cb_work/
scripts/assortativity/*
scripts/feature_std/*