
bin/*
!bin/.gitignore

external/*/.venv

paper/data/.venv 

.vscode/*
.gitignore

VIS
CONVERT
EVAL
CLUSTER
LOUVAIN
FEATURE

features/*
instances*
latex/*
scripts/.venv/*
scripts/data/*
scripts/assortativity/*
scripts/feature_std/*