
bin/*
!bin/.gitignore

external/*/.venv

paper/data/.venv 

.vscode/*
.gitignore

VIS
CONVERT
EVAL
CLUSTER
LOUVAIN
FEATURE

features/*
instances*
latex/*
scripts/.venv
scripts/.venv/*
scripts/data/*
__pycache__/
.cb_work/
scripts/assortativity/*
scripts/feature_std/*